<span class="fa-solid fa-calendar-days"></span><span class="card-info-label">Jan 17, 2024</span>
<p>Thanks to Jonas and Jack (obviously) from CS class for the idea for my latest project. A decoder is coming soon! Might take a while, though - my school blocked GitHub Codespaces once again...</p>