<span class="fa-solid fa-calendar-days"></span><span class="card-info-label">Jan 24, 2024</span>
<p>I'm back and better than ever - custom DNS for the win! I've made a JonasCode decoder, and <i>slightly</i> modified JackCode so as to not confuse the computer. Enjoy!</p>