@font-face {
  font-family: "Ostrich Sans";
  src: url("fonts/OstrichSans/OstrichSans-Medium.otf");
}
@font-face {
  font-family: "Source Code Pro";
  src: url("fonts/SourceCodePro/SourceCodePro-Regular.ttf");
}
body {
  background-color: #151d26;
  color: white;
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
}
.banner {
  width: 100vw;
  background-color: rgba(255, 255, 0, 0.3);
  text-align: center;
  position: fixed;
  left: 0;
  top: 0;
  padding: 5px;
  z-index: 100;
}
#main-container {
  display: flex;
  flex-direction: row;
  margin-left: -10px;
  margin-top: -10px;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100vw;
}
#flex-about-card {
  overflow-x: hidden;
  width: 30%;
  margin: 20px;
  min-width: 30%;
  height: auto;
  background-color: #24364a;
  border-radius: 10px;
  border: 2px solid #9effe2;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  color: white;
}
.color-h1 {
  margin: 20px;
  font-size: 64px;
  letter-spacing: 3px;
  font-family: "Ostrich Sans", "Roboto", sans-serif;
  color: #9effe2;
}
.card-photo {
  width: calc(100% + 40px);
}
#card-image-container {
  position: relative;
  right: 20px; /*to ignore the about card padding*/
  width: calc(100% + 40px);
}
#card-gradient {
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 100px;
  margin: 0;
  padding: 0;
  background: linear-gradient(0deg, #24364a 0%, transparent 100%);
}
#card-main-text {
  color: white;
  margin: 20px;
  line-height: 1.5;
}
#card-social-flex-container {
  display: flex;
  flex-flow: row wrap;
}
.card-social-flex-item {
  display: flex;
  width: 40px;
  height: 40px;
  margin: 5px;
  padding: 5px;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  color: white;
  border-radius: 10px;
  background-color: #181818;
  border: 2px solid #9effe2;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  transition: all 0.2s;
}
.card-social-flex-item:hover {
  color: black;
  background-color: white;
  box-shadow: 0 0 15px #9effe2;
  transition: all 0.2s;
}
.link-no-decoration {
  text-decoration: none;
  color: inherit;
}
.text-glow {
  text-shadow: 0 0 15px #9effe2;
  color: #9effe2;
}
.card-info-label {
  background-color: #181818;
  font-family: "Source Code Pro", monospace;
  padding: 5px;
  margin: 5px;
  border-radius: 15px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}
#flex-main-content {
  overflow: hidden;
  margin: 20px;
  flex-grow: 1;
  background-color: #24364a;
  border-radius: 10px;
  border: 2px solid #9effe2;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  color: white;
}
#flex-main-content-body {
  margin: 20px;
}
#flex-projects {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px,1fr));
  grid-template-rows: repeat(autofit, min-content);
  gap: 20px;
  margin: 20px;
}
.flex-projects-item {
  width: 1fr;
  aspect-ratio: 1/1;
  border: 2px solid #9effe2;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  background-color: #181818;
  border-radius: 10px;
  overflow: hidden;
  transition: all 0.2s;
}
.flex-projects-item:hover {
  box-shadow: 0 0 15px #9effe2;
  transition: all 0.2s;
}
.flex-project-image-container {
  height: 50%;
  overflow: hidden;
}
.flex-project-text-container {
  height: 50%;
}
.flex-project-image {
  width: 110%;
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.flex-project-text-heading {
  color: #9effe2;
  margin: 10px;
  font-size: 1.5em;
}
.flex-project-text {
  margin: 10px;
}
@media (max-width: 649px) {
  .color-h1 {
    text-align: center;
    font-size: 15vmin;
  }
  #main-container {
    flex-direction: column;
  }
  #flex-about-card {
    min-width: 0;
    width: calc(100% - 44px);
    /*This is the inner elements' margins
    20px left, 20px right plus border:
    2px left, 2px right*/
  }
  #flex-main-content {
    width: calc(100% - 44px);
  }
}
@media (min-width: 650px) and (max-width: 1000px) {
  .color-h1 {
    text-align: center;
    font-size: 10vw;
  }
  #main-container {
    width: 70vw;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    flex-direction: column;
  }
  #flex-about-card {
    min-width: 0;
    width: calc(100% - 44px);
    /*This is the inner elements' margins
    20px left, 20px right plus border:
    2px left, 2px right*/
  }
  #flex-main-content {
    width: calc(100% - 44px);
  }
}
#loading-avatar {
  position: fixed;
  width: 260px;
  height: 270px;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
}
@keyframes pathTrace {
  to {
    stroke-dashoffset: 0;
  }
}
#avatar-path {
  stroke-dasharray: 1100;
  stroke-dashoffset: 1100;
  animation: pathTrace 1.5s ease-in-out forwards;
}
@keyframes fadeOut {
  0% {
    transform: translateY(0%);
    opacity: 1;
  }
  80% {
    transform: translateY(20%);
    opacity: 0;
  }
  100% {
    transform: translateY(100%);
    opacity: 0;
  }
}
#loading {
  animation: 1s 1.5s fadeOut;
  animation-fill-mode: forwards;
  background-color: #151d26;
  margin: 0;
  padding: 0;
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}
#strip {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  height: 50px;
  width: 100vw;
  background-image: linear-gradient(90deg, #0a2737, #adcad0);
}
#footer {
  text-align: center;
  color: #7a7a7a;
}
