---
tags: homeitem
title: Blog
description: View my latest posts here!
thumbnail: /assets/corgi_banner.png
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Blog</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/style.css" />
  </head>

  <body>
    <script
      src="https://kit.fontawesome.com/854b321a1b.js"
      crossorigin="anonymous"
    ></script>
    <div id="strip"></div>
    <div id="main-container">
      <div id="flex-main-content">
        <div id="blog-header-container">
          <a href="/" class="link-no-decoration">
            <span class="blog-back-button">
              <span class="fa-solid fa-arrow-left"></span>
            </span>
          </a>
          <h1 class="blog-header">Blog</h1>
        </div>
        <div id="flex-main-content-body">
          <span class="fa-solid fa-book"></span
          ><span class="card-info-label">Recent posts</span>
        </div>
          <div id="flex-projects">
            {%- for post in collections.post -%}
            <a href="{{ post.url }}" class="link-no-decoration">
              <div class="flex-projects-item">
                {%- if post.data.thumbnail -%}
                <div class="flex-project-image-container">
                  <img
                    src="{{ post.data.thumbnail }}"
                    class="flex-project-image"
                  />
                </div>
                {%- endif -%}
                <div class="flex-project-text-container">
                  <p class="flex-project-text-heading">{{ post.data.title }}</p>
                  <p class="flex-project-text">
                    {%- if post.data.description -%}
                      {{ post.data.description }}
                    {%- else -%}
                      <i>No description</i>
                    {%- endif -%}
                  </p>
                </div>
              </div>
            </a>
            {%- endfor -%}
          </div>
        </div>
      </div>
    </div>
    <script src="/menu.js"></script>
  </body>
</html>
