@font-face {
  font-family: "Ostrich Sans";
  src: url("OstrichSans-Medium.otf");
}
html {
  font-family: "Roboto", sans-serif;
  background-color: #151d26;
  color: white;
}
#error {
  display: none;
}
#draggable {
  display: none;
  background-color: black;
  color: white;
  padding: 10px;
  cursor: pointer;
  border-radius: 10px;
  border: 2px solid #9effe2;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}
.shown {
  display: block !important;
  width: fit-content;
}
.inline {
  display: inline-block;
  font-style: italic;
}
h1 {
  display: inline-block;
  font-family: "Ostrich Sans", sans-serif;
  color: #9effe2;
  letter-spacing: 3px;
  font-size: 64px;
}
