#main-container {
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: #151d26;
}
#counter-container {
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 70% 30%;
    width: 100%;
    height: 75%;
    background-color: #24364a;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
#red {
    background-color: red;
}
#blue {
    background-color: blue;
}