@font-face {
  font-family: "Ostrich Sans";
  src: url("OstrichSans-Heavy.otf");
  font-display: swap;
}
html {
  font-size: 20vmin;
  font-family: "Ostrich Sans", sans-serif;
  color: #9effe2;
  user-select: none;
}
#main-container {
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: #151d26;
}
#counter-container {
  display: grid;
  grid-template-rows: 100%;
  grid-template-columns: 1fr 2rem;
  width: 100%;
  height: 75%;
  background-color: #24364a;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
@media screen and (max-width: 600px) {
  #counter-container {
    grid-template-rows: 1fr 2rem;
    grid-template-columns: 100%;
    height: 100%;
    width: 100%;
  }
  #reset-button {
    height: 3rem;
    width: 3rem;
  }
  #reset-container {
    background-color: #151d26;
  }
}
#number-container {
  position: relative;
}
#counter {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
}
#reset-container {
  position: relative;
}
#reset-button {
  height: 1rem;
  width: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  cursor: pointer;
  fill: white;
  transition: fill 0.2s ease-in-out;
}
#reset-button:hover {
  fill: #9effe2;
  transition: fill 0.2s ease-in-out;
}
#reset-icon {
  width: 100%;
  height: 100%;
}
